*
!pyproject.toml
!uv.lock
!alembic.ini
!backend/
!backend/sgp32/
!backend/sgp32/*.py
!shared/
!shared/sgp32_common/
!shared/sgp32_common/*.py
!device-agent/
!device-agent/sgp32_agent/
!device-agent/sgp32_agent/*.py
!migrations/
!migrations/*.py
!migrations/versions/
!migrations/versions/*.py
!deploy/
!deploy/Dockerfile
