global
    maxconn 256

defaults
    mode tcp
    timeout connect 5s
    timeout client 90s
    timeout server 90s

frontend api
    bind :8443
    default_backend api_service
backend api_service
    server api api:8443 check

frontend mqtt
    bind :8883
    default_backend mqtt_service
backend mqtt_service
    server broker mosquitto:8883 check

frontend postgres
    bind :15432
    default_backend postgres_service
backend postgres_service
    server db postgres:5432 check
